<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (task) { %>
        <form class="add-task-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="task-name">Task Name</label>
                    <input type="text" class="form-control" name="task_name" id="task-name" value="<%= task.task_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="task-description">Task Description</label>
                    <input type="text" class="form-control" name="task_description" id="task-description" value="<%= task.task_description %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= task.user_name %>" required disabled title="Username cannot be edited.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="deadline">Deadline</label>
                    <input type="deadline" class="form-control" name="deadline" id="deadline" placeholder="Deadline" value="<%= task.deadline %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="priority">Priority</label>
                    <select id="priority" name="priority" class="form-control" required>
                        <option selected><%= task.priority %></option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                       
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Task</button>
        </form>
    <% } else { %>
        <p class="text-center">Task Not Found. Go <a href="/add">here</a> to add tasks.</p>
    <% } %>
</div>
</div>
</body>
</html>